h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    float: right;
    
    text-align: center;
    

}
.navbar a:hover{
    color: blue;
    background-color: darkgray;
}

.navbar li:{
    float: left;
}


    
    


body.index{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
body.index {
    width: 80%;
    max-width: 800%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba (0, 0, 0,0.1);
    border-radius: 10px;
    text-align: center;
    background-color: burlywood;
}
.profile-pic img{
    border-radius: 60%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    border: 5px solid;
    display: block;
    justify-content: center;
    float: inline-start;
}
 h2{
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    color:brown ;


}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-display:inherit ;
    justify-content: center;
}
ul{
    list-style-type:disc;
    list-style-position:unset;
}
a{
    text-decoration:none ;
    display: block;
}

.form{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}
.form-container{
    background-color: #ffffff;
    padding: 30px;
}
.form h3{
    text-align: center;
}
label {
    margin-bottom: 8px;
    text-align: left;
    font-weight: bold;
    color: #333;
}
img{
    border-radius: 20%;
    
    grid-template-columns: 1fr auto;
    align-items: center;
    column-gap: 20px;
    
}





.media div{
    background-color: antiquewhite;
    padding: 150px;
    margin: 20px;
    padding-right: 20px;
    padding-top: 20px;

}
h3{
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
    color:chocolate;
}
@media (max-width: 360px){
    img{
        width:100%;
       height:auto;
    }
}

@media (max-width: 480px){
    img{
        width: 100%;
        height: auto;
    }
}

@media(max-width:720px){
    img{
        width: 100%;
        height: auto;
    }
}

@media(max-width: 1024){
    img{
        width: 100%;
        height: auto;
    }

    }
    audio, video {
        display: block;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    video{
        border: 3px solid #ffffff;
        border-radius: 10px;
    }

    

    body.table{
        font-family: Arial, sans-serif;
        margin: 40px;
    }
    table {
        width: 100%;
        border-collapse:collapse;
        margin-bottom: 20px;
    }
    th, td {
        padding: 12px 15px;
        border: 1px solid #ddd;
        text-align: left;
    }
    th {
        background: color #f4f4f4;
        color: #333;
    }

    tr :nth-child(){
        background-color: #f9f9f9;
    }
    tr:hover {
        background-color: #f1f1f1;

    }
    caption {
        caption-side:top;
        padding-top: 10px;
        font-size: 1.2em;
        font-weight: bold;
        
    }